<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span><a routerLink="/">BrewApi</a></span>
        <span class="spacer"></span>
        <a routerLink="/Beers"><span>Beers</span></a>
        <span class="spacer"></span>
        <a routerLink="/Breweries"><span>Breweries</span></a>
        <span class="spacer"></span>
        <a routerLink="/Wholesalers"><span>Wholesalers</span></a>
        <span class="spacer"></span>
        <a routerLink="/Sales"><span>Sales</span></a>
      </mat-toolbar-row>
</mat-toolbar>
